@-webkit-keyframes picture-vibration {
  from {
    -webkit-transform: rotate(0deg); }

  50% {
    -webkit-transform: rotate(2deg); }

  to {
    -webkit-transform: rotate(-2deg); } }
@-webkit-keyframes rotation-zoom {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    left: 38%; }

  50% {
    padding: 5px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    left: 38%;
    top: 10%; }

  70% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 42%;
    top: 15%; }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    left: 46%;
    top: 25%; } }
body {
  text-align: center;
  padding: 0;
  margin-left: 500px;
  width: 600px;
  height: 480px;
  border: 4px solid black;
  border-radius: 21%; }
  body .wrapper {
    width: 92%;
    height: 78%;
    margin: 6% auto;
    padding-top: 5%;
    border: 2px solid orange;
    vertical-align: middle;
    background: -webkit-linear-gradient(tomato 10%, lawngreen);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(tomato 10%, lawngreen);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(tomato 10%, lawngreen);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(tomato 10%, lawngreen);
    /* Standard syntax */
    border-radius: 13%; }
    body .wrapper div img {
      padding: 2px;
      background: yellow; }
    body .wrapper div img:hover {
      -webkit-animation: picture-vibration 0.1s infinite;
      animation: picture-vibration 0.1s infinite; }
    body .wrapper div img:active {
      position: absolute;
      -webkit-animation: rotation-zoom 2s infinite;
      animation: rotation-zoom 2s infinite; }
